$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  margin: 20px;
}
h1 {
  text-align: center;
}

.row {
  display: flex;
}
.row div {
  display: flex;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: orange;
}
.square{

}
