$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  margin: 20px;
}
h1 {
  text-align: center;
  size: 50px;
}

.form {
  align-items: center;
}

.row {
  display: flex;
  align-items: center;

}

.row div {
  display: flex;
  border: 3px solid black;
  width: 120px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: #effeff;
}

.game-board {
  font-size: 35px;
}

button {
  padding: 5px;
  margin: 2px;
}
